@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lao_SomVang';
    src: url('Lao_SomVang.woff2') format('woff2'),
        url('Lao_SomVang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

input:invalid {
    border: 0.5px solid rgb(247, 150, 150)
}

input:vvalid {
    border: 1px solid black
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}