<input type="checkbox" id="alertDia" class="modal-toggle" checked="true"/>
<div class="modal">
  <div class="modal-box">
    <div>
        ສຳເລັດ
    </div>
    <div class="modal-action">
      <label for="alertDia" class="btn" onclick=" return window.top.location = window.top.location">ຕົກລົງ</label>
    </div>
  </div>
</div>