<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
  @entryPointStyles('app')
</head>
<body>
  <div>
    @!component('components/navbar/auttop')
    <div class="flex overflow-hidden  pt-16">
      {{--  @!component('components/navbar/asidebar')  --}}
      <div id="asidebar"></div>
      <div class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10" id="sidebarBackdrop"></div>
      <div id="main-content" class="h-full w-full relative overflow-y-auto lg:ml-64">
        @!section('body')
      </div>
    </div>
  </div>
  @!section('scripts')

  <script>
  fetch('/v1/menu').then(response => response.text()).then(res => {
    document.getElementById('asidebar').innerHTML = res
  })
    
    // document.getElementById('asidebar').innerHTML = html
  </script>
</body>
</html>
